<form name="conf" method="post">
    <p><b>Создать конференцию:</b></p>
    <p><input type="text" name="ID" maxlength="40" value="Идентификатор конференции"></p>
    <p><input type="text" name="name" maxlength="50" value="Название конференции"></p>
    <p><input type="text" name="about" maxlength="50" value="Описание конференции"></p>
    <p><input type="text" name="date" maxlength="50" value="Дата проведения конференции"></p>
    <p><input type="text" name="lector" maxlength="50" value="Лектор"></p>
    <p><input type="submit" name="action" value="Создать"></p>
</form>